* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
.container {
	max-width: 350px;
  	margin: 0 auto;
  	border: 1px solid grey;
  	padding: 30px;
  	box-shadow: 2px 2px 2px #888888;
}
.footer {
	padding-top: 15px;
}